# dependencies
node_modules/

# build/cache
.turbo/
dist/
coverage/
apps/*/dist/
apps/*/coverage/
apps/web/.next/
apps/web/out/

# env files
.env
.env.*
apps/*/.env
apps/*/.env.*
!.env.example
!apps/*/.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# deploy/platform
.vercel/

# typescript
*.tsbuildinfo

# system files
.DS_Store
Thumbs.db

# md
*.md